In [ ]:
#EXCERCISE 1

In [ ]:
#Write a script to add two numbers and print the result
print(2+2)

In [8]:
#Write a script to subtract two numbers and print the result
print(2-2)

0

In [10]:
#Write a script to multiply two numbers and print the result
print(2*2)

4

In [12]:
#Write a script to divide two numbers and print the result.
print(6/2)

3.0

In [18]:
#Write a script to calculate the remainder of two numbers and print the result
print(20%6)

2

In [30]:
#Write a script to calculate the power of a number and print the result
num1 = int(20)


print(num1**num1)

104857600000000000000000000

In [ ]:
#EXCERCISE 2

In [32]:
#Create a list of 5 different fruits and print the list
fruits = ['banana','apple','pineapple','peach','strawberry']
print(fruits)

['banana', 'apple', 'pineapple', 'peach', 'strawberry']

In [38]:
#Create a tuple of 3 different animals and print the tuple
animals = ('tiger','lion','panda')
print(animals)

('tiger', 'lion', 'panda')

In [40]:
#Create a dictionary of 3 different key-value pairs where the keys are names of
#programming languages and the values are their release dates

pairs = {
    "python": "20 February 1991",
    "C": "1972",
    "Java": "23 January 1996"
}

In [42]:
#Create a set of 3 different colours and print the set
colours = {'green','red','blue'}

print(colours)

{'green', 'blue', 'red'}

In [ ]:
#Create a string variable that contains the sentence "Python is an easy-to-learn
#programming language."

text = 'Python is an easy-to-learn programming language'

In [ ]:
#Excercise 3

In [ ]:
#Write a script that takes a user input of a number and checks if it is positive, negative or
#zero. Print the results

In [52]:
user_input = float(input("Enter a number: "))

if user_input > 0:
    print("positive")
else:              
    print("negative")

Enter a number:  -5.5

negative

In [58]:
#Write a script that takes a user input of a string and checks if it starts with a vowel or
#consonant. Print the results.

user_input = str(input("Enter some text"))

vowel = ['a','e','i','o','u']

if user_input[0] in vowel:
    print("starts with vowel")
else:
    print("starts with consonant")

Enter some text alphabet

starts with vowel

In [64]:
#Write a script that takes a user input of two numbers and checks if they are equal or not.
#Print the results.
num1 = float(input("Enter number 1: "))
num2 = float(input("Enter number 2: "))

if num1 == num2:
    print("Numbers are equal")
else:
    print("Numbers are not equal")

Enter number 1:  3
Enter number 2:  5

Numbers are not equal

In [ ]:
#Exercise 4

In [70]:
#Write a script that prints the numbers from 1 to 10 using a for loop
loop = 10

for i in range(loop):
    print (i+1)

1
2
3
4
5
6
7
8
9
10

In [80]:
#Write a script that prints the even numbers from 2 to 10 using a for loop


for i in range(2, 11, 2): 
    print(i)

2
4
6
8
10

In [96]:
#Write a script that prints the first 5 numbers of the Fibonacci sequence using a while loop
# 0+0

a = 0
b = 1
total = 0
count = 0

while count < 5:
    total = 0
    total = a + b
    print("Fn of "+ str(a) + " is :" ,total,)
    a = b
    b = total
    count +=1

Fn of 0 is : 1
Fn of 1 is : 2
Fn of 1 is : 3
Fn of 2 is : 5
Fn of 3 is : 8